// フォント
body{
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif; 
}

//フォントの大きさ
$fontMainSize: 14px;

// 色
$mainBlack: #343a40;
$mainwhite: #f8f8f8;
$mainGray: #ccc;