.sub-header-content {
  width: 100%;
  .header {
    background-color: $mainBlue;
    padding: 0 30px;
    &__content {
      line-height: 50px;
      .application-name{
        color: #f8f8f8;
        font-size: 30px;
        text-decoration: none;
      }
    }
  }
}