.userShowContents
  .userShowContents__area
    .userShowContents__area--title ユーザー登録内容
    .contents
      .content
        = link_to "ログイン方法", "#", class: ""
      .content
        = link_to "支払い方法", "#", class: ""