.itemIndexContents {
  padding: 60px 100px;
  &__area {
    width: 1000px;
    margin: 0 auto;
    background-color: $white;
    .items {
      display: flex;
      flex-wrap: wrap;
      .item {
        margin: 13px;
        padding: 10px;
        text-decoration: none;
        color: $deepBlue;
        &--image {
          border: 1px solid $deepBlue;
          width: 198px;
          height: 198px;
        }
        &--detail {
          margin-top: 10px;
          &__name {
            margin-right: 7px;
          }
        }
      }
    }
  }
}