.itemSubmitContents {
  padding: 20px 0 ;
  .formArea {
    width: 500px;
    margin: 0 auto;
    .content {
      background-color: $white;
      border: 1px solid $lightGray;
      border-radius: 8px;
      margin-bottom: 12px;
      padding: 20px;

      .topic {
        font-size: $fontSize;
        font-weight: bold;
        margin-bottom: 8px;
        .labelDanger {
          background-color: red;
          color: $white;
          padding: 2px;
          border-radius: 4px;
        }
      }
      .formDefault {
        @include registerForm();
      }
      .formDetail {
        height: 80px;
        padding: 10px;
      }
      .postArea {
        .formImage {
          width: 300px;
          height: 70px;
          text-align: center;
          line-height: 50px;
          margin-top: 30px;
          label {
            height: 70px;
            display: block;
            background-color: rgb(230, 236, 240);
            cursor: pointer;
            #imageBox {
              height: 70px;
              input {
                display: none;
              }
            }
          }
        }
      }
      .preview {
        width: 100px;
        height: 120px;
        margin-left: 20px;
        &__image {
          font-size: 12px;
          text-align: center;
          &--remove {
            cursor: pointer;
          }
        }
      }
      .rentalPeriod {
        &--start {
          margin-bottom: 12px;
          &__title {
            font-size: 14px;
            margin-bottom: 8px;
          }

          .year {
            @include registerForm(
              $width: none,
              $display: inline
            );
          }
          .month {
            @include registerForm(
              $width: none,
              $display: inline
            );
          }
          .day {
            @include registerForm(
              $width: none,
              $display: inline
            );
          }
        }
        &--end {
          &__title {
            font-size: 14px;
            margin-bottom: 8px;
          }

          .year {
            @include registerForm(
              $width: none,
              $display: inline
            );
          }
          .month {
            @include registerForm(
              $width: none,
              $display: inline
            );
          }
          .day {
            @include registerForm(
              $width: none,
              $display: inline
            );
          }
        }
      }
    }
    .imageArea {
      display: flex;
    }
    .submit {
      .submitBtn {
        @include submitBtn();
      }
    }
  }
}





