.itemShowContents {
  padding: 60px 100px;
  width: 700px;
  margin: auto;

  .item {
    background-color: $white;
    padding: 50px;
    text-align: center;

    &__table {
      margin: 20px auto;
      width: 500px;

      .table {
        width: 100%;
        height: 375px;
        border: 1px solid $lightGray;

        &__left {
          width: 20%;
          background-color: #eee;
          font-weight: 400;
          padding: 8px;
          border: 1px solid #dedede;
          font-size: $fontSize;
          text-align: center;
        }

        &__right {
          width: 61%;
          padding: 15px;
          border: 1px solid #dedede;
          font-size: $fontSize;
        }
      }
    }

    &--option {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 15px;

      &__edit {
        @include button(
          $line-height: 50px,
          $width: 150px,
        );
      }

      &__delete {
        @include button(
        $background-color: $gray,
        $line-height: 50px,
        $width: 150px
        );
      }
    }
    &--buy {
      margin-bottom: 15px;
      &__btn {
        @include button(
          $line-height: 50px,
          $width: 150px
        );
      }
    }

    &--comment {
      padding: 24px;
      background-color: white;
      margin: 10px 0;
      text-align: center;

      &__body {
        width: 100%;
        min-height: 104px;
        padding: 10px;
        box-sizing: border-box;
      }

      &__notice {
        font-size: $fontSize;
        margin: 10px 0;
        text-align: left;
      }

      &__submit {
        @include button(
          $width: 130px
        );
      }

      &__area {
        margin-top: 16px;
        text-align: left;
        .topic {
          @include topic();
        }
        .comments {
          margin: 10px;
          &--contributor {
            color: $lightBlue;
          }
          &--content {
            padding: 16px;
            background-color: $lightGray;
            border-radius: 15px;
            line-height: 1.5;
            &__time {
              text-align: right;
              font-size: $fontSize;
            }
          }
        }
      }
    }
  }
}