.creditCardNewContents {
  padding: 60px 100px;
  width: 500px;
  margin: 0 auto;
  &__area {
    background-color: $white;
    &--title {
      font-weight: bold;
      border-bottom: solid 1px $lightGray;
      font-size: 25px;
      padding: 20px;
      text-align: center;
    }
    .contents {
      width: 400px;
      margin: 0 auto;
      padding: 40px 50px ;
      .content {
        margin-bottom: 12px;
        padding: 20px;
        .topic {
          font-size: $fontSize;
          font-weight: bold;
          margin-bottom: 8px;
          .labelDanger {
            background-color: red;
            color: $white;
            padding: 2px;
            border-radius: 4px;
          }
        }
        .expirationDate__form {
          display: flex;
          &--date {
            margin: 0 10px;
          }
          .formDefaultEx {
            @include registerForm($width: none);
          }
        }
      }
      .formDefault {
        @include registerForm();
      }
      .submitBtn {
        @include button();
        margin-left: 20px;
      }
    }
  }
}