.loginContents {
  padding: 40px 100px ;
  &__area {
    background-color: $mainWhite;
    &--title {
      font-weight: bold;
      border-bottom: solid 1px $mainGray;
      font-size: 25px;
      padding: 20px;
      text-align: center;
    }
    .formArea {
      width: 500px;
      margin: 0 auto;
      padding: 35px 0 ;
      .content {
        background-color: $mainWhite;
        border: 1px solid $mainGray;
        border-radius: 8px;
        margin-bottom: 12px;
        padding: 20px;
        .formDefault {
          @include registerForm();
        }
      }
      .submitBtn {
        @include submitBtn();
      }
    }
  }
}