@import "reset";
@import "./config/*";
@import "flash";
@import "./mixin/*";
@import "modules/partials/*";
@import "modules/devise/*";
@import "modules/items/*";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  font-family: $fontMain;
  min-height: 100vh;
  .mainWrapper {
    background-color: rgb(239, 241, 245);
    min-height: calc(100vh - 105px);
  }
}
