@import "reset";
@import "./config/*";
@import "flash";
@import "./mixin/*";
@import "modules/partials/*";
@import "modules/credit_cards/*";
@import "modules/devise/*";
@import "modules/items/*";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  font-family: $fontMain;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}