@mixin button(
  $line-height: 30px,
  $background-color: $lightBlue,
  $border-color: $black,
  $color: $white,
  $width: 100px,
  $border-radius: 100px,
  $display: inline-block,
  $margin-top: 12px,
  $text-decoration: none,
  $text-align: center
) {
  line-height: $line-height;
  background-color: $background-color;
  border-color: $border-color;
  color: $color;
  width: $width; 
  border-radius: $border-radius;
  display: $display;
  margin-top: $margin-top;
  text-decoration: $text-decoration;
  text-align: $text-align;
  cursor: pointer;
}
