@mixin registerForm (
  $borderColor: $gray,
  $borderRadius: 4px,
  $height: 30px,
  $padding:  0 16px,
  $width: 100%,
  $display: block
  ){
  border: 1px solid $borderColor;
  border-radius: $borderRadius;
  box-sizing: border-box;
  height: $height;
  padding: $padding;
  width: $width;
  display: $display;
}