.header-content
  .header
    .header__left
      = link_to root_path, class: "application-name" do
        Shareitem
    .header__right
      .right
        .right__login
          = link_to '/', class: "right__login--link" do
            ログイン
        .right__signup
          = link_to '/', class: "right__signup--link" do
            新規登録
        .right__lend-item
          = link_to '/', class: "right__lend-item--link" do
            出品する